<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.covidscreeningapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CovidScreeningApp">
        <activity
            android:name=".DetailActivity_visitor"
            android:exported="true" />
        <activity
            android:name=".SelectPortal"
            android:exported="true" />
        <activity
            android:name=".Pass"
            android:exported="true" />
        <activity
            android:name=".UploadCertificate"
            android:exported="true" />
        <activity
            android:name=".DetailActivity"
            android:exported="true" />
        <activity
            android:name=".EmployeeListMain"
            android:exported="true" />
        <activity
            android:name=".VisitorCont"
            android:exported="true" />
        <activity
            android:name=".EmployeeCont"
            android:exported="true" />
        <activity
            android:name=".EmployeeMain"
            android:exported="true" />
        <activity
            android:name=".visitorList"
            android:exported="true" />
        <activity
            android:name=".VisitorCheckIn"
            android:exported="true" />
        <activity
            android:name=".OrganizationLogin"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>